---
import MainLayout from "../layouts/MainLayouts.astro"
import Spil from "../components/Spil.astro"
import Button from "../components/Button.astro"
---

<body>
	<MainLayout>
		<div class="image-text">
			<img class="hero-image" src="hero.png" alt="">
			<div class="text">
				<h1 class="hero-heading">Velkommen</h1>
				<p class="hero-p">til vores webfeature om ensomhed blandt unge piger. I denne særlige artikel har vi interviewet to inspirerende kvinder: Kathrine fra Girl Talk, og Mathilda, som er ung iværksætter og ejeren af Rhodflowers.</p>
				<br>
				<br>
				<p class="hero-p">Vi dykker ned i emnet ensomhed og deler ærlige perspektiver og erfaringer fra vores interviewpersoner. Sammen udforsker vi også værdifulde råd og strategier til at håndtere og overvinde følelsen af ensomhed.</p>
				
			</div>
		</div>
		<Button/>
		<Spil/>
	</MainLayout>	
</body>
