---
import MainLayout from "../layouts/MainLayouts.astro"
import Spil from "../components/Spil.astro"
import Button from "../components/Button.astro"
---

<body>
	<MainLayout>
		<Button/>
		<Spil/>
	</MainLayout>	
</body>
